<%- layout("layouts/boilerplate") %>
<div class="row">
  <div class="col-8 offset-2">
    <br /><br />
    <h3>Edit Listing</h3>
    <form
      method="post"
      action="/listings/<%=listing._id%>?_method=PUT"
      novalidate
      class="needs-validation"
      enctype="multipart/form-data"
    >
      <div class="mb-3">
        <label for="title" class="form-label">Title</label>
        <input
          type="text"
          value="<%= listing.title %>"
          name="listing[title]"
          class="form-control"
          required
        />
        <div class="invalid-feedback">Give a valid Title name!</div>
      </div>

      <div class="mb-3" +>
        <label for="description" class="form-label">Description</label
        ><textarea
          type="text"
          name="listing[description]"
          class="form-control"
          required
        >
    <%= listing.description %></textarea
        >
        <div class="invalid-feedback">Give a valid description!</div>
      </div>

      <div class="mb-3">
        <img src="<%= originalImg %>" alt="" />
      </div>

      <div class="mb-3">
        <label for="image" class="form-label">NEW Image </label>
        <input type="file" name="listing[image]" class="form-control" />
        <div class="invalid-feedback">Give a valid image link!</div>
      </div>
      <div class="row">
        <div class="mb-3 col-md-4">
          <label for="Price" class="form-label">Price</label>
          <input
            type="text"
            value="<%= listing.price %>"
            name="listing[price]"
            class="form-control"
            required
          />
          <div class="invalid-feedback">Give a valid price!</div>
        </div>
        <div class="mb-3 col-md-8">
          <label for="country" class="form-label">Country</label>
          <input
            type="text"
            value="<%= listing.country %>"
            name="listing[country]"
            class="form-control"
            required
          />
          <div class="invalid-feedback">Give a valid country name!</div>
        </div>
      </div>
      <div class="mb-3">
        <label for="location" class="form-label">Location</label>
        <input
          type="text"
          value="<%= listing.location %>"
          name="listing[location]"
          class="form-control"
          required
        />
        <div class="invalid-feedback">Give a valid location name!</div>
      </div>

      <br />
      <button class="edit-btn btn-dark">Edit</button>
      <br /><br />
    </form>
  </div>
</div>
